<div class="title">Question details</div>
<br>

<div class="links">
	<% if params[:popup] == 'true'%>
		<%= link_to 'Edit', :action => "edit", :id => @question %> |
		<%= link_to 'Level down', :action => "level_down", :id => @question, :confirm => 'Are you sure?' %> |
		<%= link_to 'Level up', :action => "level_up", :id => @question, :confirm => 'Are you sure?' %> |
		<%= link_to 'Add answer', :controller => 'answers', :action => "new", :question_id => @question %>|
	<% else %>
		<%= link_to 'Edit', edit_question_path(@question) %> |
		<%= link_to 'Level down', :action => "level_down", :id => @question, :confirm => 'Are you sure?' %> |
		<%= link_to 'Level up', :action => "level_up", :id => @question, :confirm => 'Are you sure?' %> |
		<%= link_to 'Delete', @question, :confirm => 'Are you sure?', :method => :delete %> |
		<%= link_to 'Add answer', :controller => 'answers', :action => "new", :question_id => @question %>|
		<%= link_to 'Back', lesson_path(@question.lesson) %>
	<% end%>
</div>
<br>

<table class="dbdetails">
	<tr>
		<th>Lesson:</th>
		<td><%= @question.lesson.name%></td>
	</tr>
	<tr>
		<th>Question:</th>
		<td><%= @question.text%></td>
	</tr>
	<tr>
		<th>Question tip:</th>
		<td><%= @question.question_tip%></td>
	</tr>
	<tr>
		<th>Answer tip:</th>
		<td><%= @question.answer_tip%></td>
	</tr>
	<tr>
		<th>Level:</th>
		<td class="right">
			<%= @question.iteration%>
		</td>
	</tr>
	<tr>
		<th>E-factor:</th>
		<td class="right">
			<%= @question.e_factor%>
		</td>
	</tr>
	<tr>
		<th>Last attempt date:</th>
		<td><%=h @question.last_attempt_date.strftime('%d-%m-%Y %H:%M') %></td>
	</tr>
	<tr>
		<th>Next attempt date:</th>
		<td><%=h @question.next_attempt_date.strftime('%d-%m-%Y %H:%M') %></td>
	</tr>
	<tr>
		<th>Active:</th>
		<td><%= @question.active%></td>
	</tr>
</table>

<br/><br/>

<table class="dblist">
	<tr>
		<th>&nbsp;</th>
		<th>Answer</th>
		<th>Tip</th>
	</tr>
	<% @question.answers.each do |answer| %>
		<tr>
			<td><%= answer.priority%></td>
			<td><%= answer.text%></td>
			<td><%= answer.tip%></td>
			<td><%=link_to 'Edit', edit_answer_path(answer) %></td>
			<td><%= link_to 'Delete', answer, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	<%end%>	
</table>

<br/><br/>

<table class="dblist">
	<tr>
		<th>Level</th>
		<th>Start</th>
		<th>Finished</th>
		<th>Interval</th>
		<th>0</th>
		<th>1</th>
		<th>2</th>
		<th>3</th>
		<th>4</th>
		<th>5</th>
	</tr>
	<% @question.iterations.each do |i| %>
		<tr>
			<td><%= i.iteration%></td>
			<td><%=h i.learning_begin.strftime('%d-%m-%Y %H:%M') if i.learning_begin%></td>
			<td><%=h i.learning_finished.strftime('%d-%m-%Y %H:%M') if i.learning_finished%></td>
			<td class="right"><%=h i.day_interval%></td>
			<td class="right"><%=h i.answers_0 %></td>
			<td class="right"><%=h i.answers_1 %></td>
			<td class="right"><%=h i.answers_2 %></td>
			<td class="right"><%=h i.answers_3 %></td>
			<td class="right"><%=h i.answers_4 %></td>
			<td class="right"><%=h i.answers_5 %></td>
		</tr>
	<%end%>	
</table>