<div id="msgDiv" style="color: green; font-size: 16pt;">Correct</div>
<div id="qDiv" style="color: green; font-size: 21pt; padding-top: 20px;">
  <table style="width: 100%;">
  	<tr>
  		<td>
  			<% if correct.answers.size <= 1 %>
				<span style="text-align: left; font-size: 21pt; padding-top: 10px;">
					<%= correct.first_answer.text%>
				</span>	
				<% if correct.first_answer.tip %>
					<span style="font-size: 12pt; color: grey;">&nbsp;<%= correct.first_answer.tip%></span>
				<%end%>
			<% else %>
				<table align="center" valign="bottom">
					<% correct.answers.each_with_index do |a, i| %>
						<tr>
							<td style="text-align: left;">
								<%= i +1%>.
							</td>
							<td style="text-align: left; font-size: 21pt; padding-top: 10px;">
								<%= a.text%>
								<% if a.tip %>
									<span style="font-size: 12pt; color: grey;">&nbsp;<%= a.tip%></span>
								<%end%>
							</td>
						</tr>
					<% end %>
				</table>
			<%end%>
  		</td>
	</tr>
    <% if correct.answer_tip %>
	  <tr>
		<td colspan="2" style="text-align: right; color: grey;">
		  <%= correct.answer_tip %>
		</td>
	  </tr>
    <%end%>
  </table>
</div>
<br>
<br>
<table align="center">
	<tr>
		<td>
			<% form_remote_tag :url => {:action => 'correct'}, :before => "showWaitDiv();", 
											:complete => "hideWaitDiv();" do %>
				<%= submit_tag "Next [Enter]", :id => 'nextButton' %>
			<% end -%>				
		</td>
		<td>
			<% form_remote_tag :url => {:action => 'wrong'}, :before => "showWaitDiv();", 
											:complete => "hideWaitDiv();" do %>
				<%= submit_tag "I don't know [w]", :id => 'wrongButton' %>
			<% end %>							
		</td>
		<td>
			<% form_remote_tag :url => {:action => 'onlyRepetitions'}, :before => "showWaitDiv();", 
											:complete => "hideWaitDiv();" do %>
				<%= submit_tag "Only repetitions [r]", :id => 'repetitionsButton' %>
			<% end -%>				
		</td>
	</tr>
</table>
