<div id="kb" style="width: 500px;; background-color: white; border: 2px solid black; padding: 0px; margin: 0px;">
	<table align="center">
		<tr>
			<td style="text-align: center;">
				<input type="button" value="&#230;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="e" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="&#x26A;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="i" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="&#x252;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="&#x28C;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="&#x28A;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="a&#x2D0;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="&#x25C;&#x2D0;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="i&#x2D0;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="&#x254;&#x2D0;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="u&#x2D0;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="e&#x259;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="&#x26A;&#x259;" onclick="<%= fonetic_keyboard %>(this.value);" style="font-weight: bold;"></input>
				<input type="button" value="a&#x26A;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="e&#x26A;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="&#x254;&#x26A;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="&#x259;&#x28A;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="a&#x28A;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="&#x259;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<br/>
				<input type="button" value="b" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="t&#x283;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="d" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="f" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="g" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="h" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="d&#x292;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="k" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="l" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="m" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="n" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="&#x14B;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="p" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="r" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="s" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="&#x283;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="&#x292;" onclick="<%= fonetic_keyboard %>(this.value);" style="font-weight: bold;"></input>
				<input type="button" value="t" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="&#xF0;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="&#x3B8;" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="v" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="w" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="j" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
				<input type="button" value="z" onclick="<%= fonetic_keyboard %>(this.value);" style="border: #5BB123 solid 1px; font-weight: bold;"></input>
			</td>
		</tr>
	</table>
	<div style="position: absolute; top: 0px; right: 0px;">
		<span style="cursor: pointer;" onclick="document.getElementById('foneticKeyboard').innerHTML = '';">x&nbsp;</span>
	</div>
</div>

<script type="text/javascript">
    new Draggable('kb');
</script>