<table style="width: 100%;">
	<tr>
		<td style="background-color: <%= question.level.color%>">
			&nbsp;&nbsp;<%= question.level.level%>&nbsp;&nbsp;
		</td>
		<td style="width: 100%;">
			<b><%= question.text %></b>			
		</td>
	</tr>
	<% if question.question_tip %>
		<tr>
			<td colspan="2" style="text-align: right; color: grey;">
				<%= question.question_tip %>
			</td>
		</tr>
	<%end%>
</table>

<br>
<br>
<% form_remote_tag(:url => {:action => 'check'}, :before => "showWaitDiv();", 
						:success => "hideWaitDiv();", 
						:failure => "showErrorDiv();") do %>
	<%= hidden_field_tag :question_id, question.id%>
	<table align="center">
	  <tr>
	  	<td>
	      <%= text_area_tag 'answer', '', :cols => 75, :rows => 1, :style => "height: 17px; font-family: verdana, arial, helvetica, sans-serif;" %>
		</td>
		<td>
		  <%= submit_tag "Check", :id => "submitButton" %>
		</td>
	  </tr>
	</table>
<% end %>				

<%=javascript_tag("$('answer').focus()");%>
