<script>
	function addSymbole(symbole){
		document.getElementById('answer_text').focus();
		
		document.getElementById('answer_text').value = 
			document.getElementById('answer_text').value + symbole;
	}
</script>

<div class="title">New answer</div>
<br>

<div class="links">
	<%= link_to_remote "Fonetic keyboard", :url => {:controller => "learning", :action => 'fonetic_keyboard', :callback => "addSymbole"}%> | 
	<%= link_to 'Back', :controller => "questions", :action => "show", :id => @answer.question %> 
</div>
<br>

<% form_for(@answer, :action => 'create') do |f| %>
  	<%= hidden_field_tag :question_id, @answer.question.id %>

<table class="form">
	<tr>
		<td colspan=2>
			<%= error_messages_for :answer%>			
		</td>
	</tr>
	<tr>
		<th>Question:</th>
		<td><%= @answer.question.text %></td>
	</tr>
	<tr>
		<th>Answer:</th>
		<td><%= f.text_field :text, :size => 50 %></td>
	</tr>
	<tr>
		<th colspan=2 style="text-align: center;">
			<%= f.submit 'Save' %>			
		</th>
	</tr>
</table>

<% end %>