<div class="title">Listing lessons</div>
<br>

<div class="links">
	<%= link_to 'New lesson', new_lesson_path %>
	&nbsp;|&nbsp;
	<% if session[:show_inactive_lessons] == true%>
		<%= link_to 'Hide inactive', :show_inactive_lessons => "false" %>
	<%else%>
		<%= link_to 'Show all', :show_inactive_lessons => "true" %>
	<%end%>
</div>
<br>

<table class="dblist">
  <tr>
    <th>Name</th>
    <th>Questions</th>
    <th>To learn</th>
	<th></th>
  </tr>
<% if @lessons.empty? %>
  <tr>
  	<td colspan=5>No lessons.</td>
  </tr>
<%end%>
<% @lessons.each do |lesson| %>
  <tr <% if not lesson.active then %>class="inactive"<%end%>>
    <td ><%=h lesson.name %></td>
    <td class="right"><%=h lesson.questions.size %></td>
    <td class="right"><%=h lesson.questions_to_learn.size %></td>
    <td><%= link_to 'Show', lesson %></td>
  </tr>
<% end %>
</table>

<br />